/* usuaris.component.css */

/* Estilo general */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #FAF3E0; /* Blanco roto */
}

/* Contenedor */
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 40px;
  max-width: 1600px;
  margin: 0 auto;
}

/* Contenedor del formulario */
.form-container {
  background-color: #8B0000; /* Rojo vino */
  color: white;
  padding: 30px;
  border-radius: 15px;
  width: 45%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

/* Título del formulario */
.form-container h1 {
  font-size: 1.8rem;
  color: #FAF3E0; /* Blanco roto */
  margin-bottom: 20px;
}

/* Estilo general de etiquetas y entradas */
label {
  font-size: 14px;
  color: #FAF3E0; /* Blanco roto */
}

input, textarea {
  padding: 12px;
  border: 1px solid #4C0000; /* Rojo oscuro */
  border-radius: 8px;
  width: 100%;
  margin-bottom: 15px;
}

/* Botón del formulario */
.submit-button {
  background-color: #4CAF50; /* Verde hoja */
  color: #FAF3E0;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #388E3C; /* Verde más oscuro */
}

/* Lista de usuarios */
.lista-usuarios {
  background-color: #4C0000; /* Rojo oscuro */
  color: #FAF3E0; /* Blanco roto */
  padding: 30px;
  border-radius: 15px;
  width: 45%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

/* Elementos de la lista */
.lista-usuarios li {
  background-color: #8B0000; /* Rojo vino */
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
}
